<!DOCTYPE html>
<html lang="en" ng-app="App">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Mea Familia </title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <section ng-controller="FamCtrl as $ctrl">
    <h1>This my pre-wed family! (sans me)</h1>
    <input type="text" ng-model="search" placeholder="filter me" />
    <!--filters family by input-->
    <ul>
      <li ng-repeat="member in $ctrl.family | filter:search"
        ng-class="{'young': (member.age < 30),'middle-age': (30 < member.age && member.age < 50), 'old': (member.age>=50)}">
        {{member.name}} who is my {{member.relation}}, they are {{member.age}} years old (or young).
      </li>
    </ul>

    <ul>
      <li ng-repeat="member in $ctrl.family | orderBy:'name'">
        <!--orders family alphabetically-->
        {{member.name}} who is my {{member.relation}}, they are {{member.age}} years old (or young).
      </li>
    </ul>

  </section>

  <script src="https://code.angularjs.org/1.7.8/angular.js"></script>
  <script src="app.module.js"></script>
  <script src="app.controller.js"></script>
</body>

</html>